= form_tag search_movies_path, method: 'get', class: 'form-search' do
  = text_field :movie, :search, id: 'search_field', class: 'search-query'
  = submit_tag "Search", class: 'btn btn-primary'
  = link_to "Clear Search", movies_path, class: 'btn'