%h1 Welcome.

- if current_user
	%p
		Have fun!  If you have any questions,
		=link_to 'ask them.', '/ask'
- else
	%p
		If you would like to access the server, please 
		= link_to "request a user.", new_user_path

- content_for(:title) do
	= "#{APP_CONFIG['title']}"