// Place all the styles related to the Servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big {
	font-size: 17px;
}

.gray {
	color: #aaa;
}

.bold {
	font-weight: bold;
}

.green {
	color: #17C400;
}

.red {
	color: #BF0404;
}